# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea
.vscode

# Local env files
.env
.env.*
!.env.example

# AI IDE files
/public/tools/factoriolab
.claude/settings.local.json
.cursor
.iflow

#temp game data
/app/assets/shanying

# Plugins files
.VSCodeCounter

# Other files
information_record

yama/