.home-page {

  .index-carousel {
    max-width: 90%;
    margin: auto;
  }

  .home-navigation-card-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 90%;
    margin: auto;
  }


  .home-navigation-card {
    width: calc(50% - 0.5rem);
    margin: 0.5rem 0;
  }

  .home-navigation-card-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: var(--font-size-lg);
  }

  .home-navigation-card-title-icon {
    width: 28px;
    height: 28px;
    margin: 0 var(--spacing-sm) 0 0;
  }

  .p-title {
    font-size: var(--font-size-sm);
    font-weight: bolder;
    padding: var(--spacing-md) 0;
  }

  .p-li {
    padding: var(--spacing-xs) var(--spacing-md);
  }

  .p-li::before {
    content: "\2022";
    margin-right: var(--spacing-xs);
  }


  @media (max-width: 660px) {

    .index-carousel {
      max-width: 99%;
    }

    .home-navigation-card-group {
      max-width: 100%;
    }

    .home-navigation-card {
      width: 99%;
      margin: var(--spacing-sm) 0;
      font-size: var(--font-size-xs);
    }

    .home-navigation-card-title {
      font-size: var(--font-size-sm);
    }

    .home-navigation-card-title-icon {
      width: 28px;
      height: 28px;
      margin: 0 var(--spacing-sm) 0 0;
    }
  }
}
